<div class="main-container">
  <p><%=@card.question %></p>
  <form action=<%="/game/#{@game.id}/#{@card.id}"%> method="post">
    <ul>
    	<% @choices.each_with_index do |choice, index| %>
      <li id="list-card">
        <div class="card-container <%= button(index)%>"  style="-webkit-transform: rotate(<%=rotation(choice)%>deg)">
          <div class="card">
            <div class="face front">
              <img src=<%="../../images/button#{index+1}.png"%> alt="" />
            </div>
            <div class="face back">
              <button type="radio" name="answer" value="<%= choice %>"><%= choice %></button>
            </div>
          </div>
        </div>
      </li>      
      <% end %>
    </ul>
  </form>
  <div class="progression">
    <div class="nb_tiled">
      <p>Success: </p><div class="score" style="-webkit-transform: rotate(<%=rotation((@game.id + @card.id).to_s)%>deg)"><p><%= "#{@game.score}" %></p></div><div class="score" style="-webkit-transform: rotate(<%=rotation((@game.id + 2 * @card.id).to_s)%>deg)"><p>%</p></div>
      <div class="nb_tiled">
        <p>Cards done: </p><div class="score" style="-webkit-transform: rotate(<%=rotation((@game.id + 3 + @card.id).to_s)%>deg)"><p><%= "#{@game.cards_shown}" %></p></div>
      </div>

      <div class="nb_tiled">
        <p>Cards left: </p><div class="score" style="-webkit-transform: rotate(<%=rotation((@game.id + @card.id).to_s)%>deg)"><p><%= "#{@game.nb_cards - @game.cards_shown}" %></p></div>
      </div>
    </div>
    <div><a href="/">Choose Another Deck</a></div><br>
    <div class="link"><a href="/logout">Log Out</a></div>
  </div>
